.Login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(180deg, $gray-1 0%, $gray-2 100%);
    grid-template-areas: "group image";

    @include max-md {
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows: 180px auto;
        grid-template-areas:
        "image"
        "group";
        padding: 16px;

    }

    &-group {
        grid-area: group;
        align-items: center;
        justify-content: center;
        display: flex;

        @include max-md {
            align-items: initial;
        }
        &__container {
            width: 379px;

            @include max-md {
                width: auto;
            }
        }

        &__info {
            color: $light-gray;

            .title {
                font-weight: 400;
                font-size: 60px;
                line-height: 76px;
                margin: 0;
                padding-bottom: 17px;
            }

            .subtitle {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                margin: 0;
            }

        }

        &__form {
            .title {
                color: $light-gray;
                font-weight: 400;
                font-size: 30px;
                line-height: 38px;
                margin-top: 120px;
                margin-bottom: 32px;

                @include max-md {
                    margin-top: 60px;
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 33px;
                margin-bottom: 80px;

                @include max-md {
                    gap: 24px;
                    margin-bottom: 60px;
                }
            }

            .message {
                color: $yellow;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                display: block;
            }
        }
    }

    &-img {
        grid-area: image;
        min-height: 100vh;
        background: url(../../assets/img-login.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;


        @include max-md {
            background: none;
            min-height: auto;
        }

        &__logo {
            height: 69px;
            margin-top: 35px;

            @include max-md {
                height: 40px;
                margin-top: 80px;
            }
        }
    }
}