.Input {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

    &-form {
        width: calc(100% - 38px);
        margin-right: 18px;
        border: 1px solid $white;
        font-size: 16px;
        color: $light-gray;
        background-color: $gray-3;
        height: 100%;
        border-radius: 50px;
        text-indent: 20px;
        transition: ease 0.5s;

        &::placeholder {
            color: $light-gray;
        }

        &.open {
            width: 100%;
            margin-right: 0;
        }

        &.error {
            border: 1px solid $yellow;
        }
    }

    &-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        transition: ease 0.5s;

        &.focus {
            right: 40px;
        }
    }
}