.RefreshTime {
    display: flex;
    align-items: center;
    gap: 33px;
    color: $white;

    &-text {

        font-size: 14px;
        line-height: 18px;
        text-align: right;

    }

    &-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-time {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        width: 90px;
    }

    &-unit {
        font-size: 14px;
    }
}