
//Colors

$white: #ffffff;
$black: #000000;
$red: #C12D18;
$yellow: #E9B425;
$orange: #E29933;
$dark-gray: #222222;
$light-gray: #E0E0E0;


//Breakpoints
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1920px;

$max-xs: 575px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 1919px;
$max-xxl: 2559px;
